.list-center {
  margin: 0 auto;
  display: flex;
}

.add-basket,
.remove-basket {
  width: 158px;
  color: white;
  background: black;
  font-size: 12px;
  margin-top: 10px;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.remove-basket {
  background: none;
  border-top: 1px solid lightgray;
  color: black;
}

button {
  border-style: none;
  box-shadow: none;
}

.not-found {
  margin: 0 auto;
  height: 400px;
  width: 1240px;
  background-color: rgba(211, 211, 211, 0.194);
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-center {
  width: 100%;
  display: flex;
  align-items: center;
}

.not-found h3 {
  font-size: 24px;
  font-weight: 500;
}
